* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

h1 {
    margin-bottom: 30px;
}

a{
    text-decoration: none;
}

#logo{
    display: block;
    margin: 0 auto;
}

.isian{
    color: white;
    width: 80%;
    margin: 5% auto;
    padding-bottom: 5%;
    padding-top: 5%;
    background-color: orange;
}

.isian input, label, textarea, #error{
    text-align: center;
    display: block;
    margin: 0 auto;
}

.container{
    margin: 10px auto;
    width: 960px;
}

/* MENUBAR */

#menu{
    margin-top: 10px;
}

#menu ul{
    list-style-type: none;
    margin: 0px 0px;
    background-color: orange;
    overflow: hidden;
}

#menu ul li{
    float: left;
}

#menu ul ul li{
    float: right;
}

#menu li a {
    display: block;
    text-align: center;
    color: white;
    padding: 15px 30px;
    text-decoration: none;
}

#menu li a:hover {
    background:#0099FF; 
}

/* INDEX */
#bungkus_login h2, #bungkus_register h2{
    width: 100%;
    text-align: center;
    margin: 20px auto 0 auto;
}

#bungkus_login{
    width: 80%;
    margin: 1% 10%;
    border: 2px solid orange;
    padding: 0 0;
}

#bungkus_register{
    width: 80%;
    margin: 1% 10%;
    border: 2px solid #0099FF;
    padding: 0 0;
}

#bungkus_single{
    width: 80%;
    margin: 2% auto;
    background-color: orange;
    border-radius: 20px;
    padding: 20px 20px;
}


#bungkus{
    width: 80%;
    margin: 1% 10%;
    border: 2px solid orange;
    padding: 0 0;
}

#kiri,#kanan,#bungkus{
    float: left;
}

#kiri{
    width: 50%;
}

#kiri iframe{
    width: 100%;
}

#kanan{
    position: relative;
    width: 50%;
}

.each_article {
    position: absolute;
    background-color: #0099FF;
    width: 100%;
    padding: 0% 0%;
}

.each_article h4{
    font-size: 15px;
}

.search{
    position: relative;
    display: block;
    width: 500px;
    height: 80px;
    background-color: orange;
    margin: 0 auto;
}
.search input[type="search"]{
    display: block;
    position: absolute;
    width: 400px;
    height: 30px;
    text-align: center;
    margin-left: 50px;
    margin-top: 25px;
    border:2px solid white;
}
#thumbnail_buku{
    width: 140px;
    height: 200px;
    padding: 10px;
}

#thumbnail_buku_satuan{
    width: 170px;
    height: 230px;
    margin-top: 20px;
    border-style: solid;
    border-width: 10px;
    border-color: #0099FF;
    border-radius: 5px;
}




/* FOOTER */
#footer {
    margin-top: 70px;
}




.clear {
    clear: both;
}

#error {
    width: 200px;
    background-color: red;
    color: white;
}

/* PERARTIKEL */
#judul_single {
    font-size: 40px;
    font-weight: bold;
    margin-top: 40;
}
#konten_single {
    margin: 25 0 30 0;
    background-color: orange;
    color: white;
    padding: 5px;
}
#tag_single {
    font-size: 15;
    font-weight: bold;
}
.each_article h3 a {
    color: black;
}
.each_article h3 a:link {
    text-decoration: none;
}
